@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

body {
  background-color: gray;
}

h1 {
  background-color: red;
  color: black;
  text-align: center;
  font-family: 'Bowlby One SC', cursive;
}