{% extends 'layout.html' %}
{% block content %}
</br></br>


<!-- Player search -->
<p>Search for your person by entering their unique uid. Then edit the details and save or delete the entry.</p>

<form action="{{ url_for("edit_player")}}" method="post">

<!-- Gets input players -->
<label for="uid">UID:</label>
<input class="dropdownselect" type="number" list="playerlist" id="player" name="player">

<!-- Displays dropdown menu -->
<datalist id="playerlist">
{% for i in playerlist %}
  <option value="{{i.uid}}">{{i.firstname}} {{i.lastname}}</option>
{% endfor %}
</datalist> 

<!-- Redirects to update page for selected UID -->
<button type="submit" name="edit_button" value="search">Search</button></br></br>

<!-- Redirects to add player page -->
<button type="submit" name="edit_button" value="add">Add Player</button>
</form>


</br></br></br>
<!-- Team search -->
<p>Search for team by entering team name</p>

<form action="{{ url_for("edit_team")}}" method="post">

<!-- Gets input players -->
<label for="uid">UID:</label>
<input class="dropdownselect" type="number" list="teamlist" id="team" name="team">

<!-- Displays dropdown menu -->
<datalist id="teamlist">
{% for i in query_results %}
  <option value="{{i.uid}}">{{i.name}}</option>
{% endfor %}
</datalist> 

<!-- Redirects to update page for selected UID -->
<button type="submit" name="edit_button" value="search">Search</button></br></br>

<!-- Redirects to add team page -->
<button type="submit" name="edit_button" value="add">Add Team</button>
</form>

  
{% endblock %}