{% extends 'layout.html' %}
{% block content %}

<h1 style="color:green;">Edit a player</h1>

<p>Search for your person by entering their unique uid. Then edit the details and save or delete the entry.</p>

<form action="{{ url_for("edit_player")}}" method="post">


<label for="uid">UID:</label>
 
<input type="text" id="uid" name="uid" placeholder="Enter the player's UID"> </br></br>
<button type="submit" name="edit_button" value="search">Search</button></br>
</br></br></br>

</form>

{% endblock %}