{% extends 'layout.html' %}
{% block content %}

<body>
  <div class="content-container">
    <!-- Male Teams -->
    <h1 class="home-heading" style="">Male Team Standings</h1>
    
    <div class="content-section">
      <p>#</p>
      <p>Team Name</p>
      <p>Wins / Draws / Losses</p>
      <p>Points</p>
      <p>Games</p>
      <p>PPG</p>
    </div>

    {% for i in maleteams %}
    <div class="content-section">
      <p>{{i.rank}}</p>
      <p>{{i.name}}</p>
      <p>{{i.wins}} / {{i.games_played - (i.wins + i.losses)}} / {{i.losses}}</p>
      <p>{{i.points}}</p>
      <p>{{i.games_played}}</p>
      <p>{{i.points // i.games_played}}</p>
    </div>
    {% endfor %}

    <!-- Male Players -->
    <h1 class="home-heading" style="">Male Player Standings</h1>
    
    <div class="content-section">
      <p>#</p>
      <p>Name</p>
      <p>Wins / Draws / Losses</p>
      <p>Points</p>
      <p>Games</p>
      <p>PPG</p>
    </div>

    {% for i in maleplayers %}
    <div class="content-section">
      <p>{{i.number}}</p>
      <p>{{i.firstname}} {{i.lastname}}</p>
      <p>{{i.wins}} / {{i.games_played - (i.wins + i.losses)}} / {{i.losses}}</p>
      <p>{{i.points}}</p>
      <p>{{i.games_played}}</p>
      <p>{{i.points // i.games_played}}</p>
    </div>
    {% endfor %}

    <!-- Female Teams -->
    <h1 class="home-heading" style="">Female Team Standings</h1>
    
    <div class="content-section">
      <p>#</p>
      <p>Team Name</p>
      <p>Wins / Draws / Losses</p>
      <p>Points</p>
      <p>Games</p>
      <p>PPG</p>
    </div>

    {% for i in femaleteams %}
    <div class="content-section">
      <p>{{i.rank}}</p>
      <p>{{i.name}}</p>
      <p>{{i.wins}} / {{i.games_played - (i.wins + i.losses)}} / {{i.losses}}</p>
      <p>{{i.points}}</p>
      <p>{{i.games_played}}</p>
      <p>{{i.points // i.games_played}}</p>
    </div>
    {% endfor %}

    <!-- Female Players -->
    <h1 class="home-heading" style="">Female Player Standings</h1>
    
    <div class="content-section">
      <p>#</p>
      <p>Name</p>
      <p>Wins / Draws / Losses</p>
      <p>Points</p>
      <p>Games</p>
      <p>PPG</p>
    </div>

    {% for i in femaleplayers %}
    <div class="content-section">
      <p>{{i.number}}</p>
      <p>{{i.firstname}} {{i.lastname}}</p>
      <p>{{i.wins}} / {{i.games_played - (i.wins + i.losses)}} / {{i.losses}}</p>
      <p>{{i.points}}</p>
      <p>{{i.games_played}}</p>
      <p>{{i.points // i.games_played}}</p>
    </div>
    {% endfor %}
  </div>
</body>


{% endblock %}