{% extends 'layout.html' %}
{% block content %}
</br></br>

<p>Edit the details and save or delete the entry.</p>

<!-- Creates form -->
<form action="/update_player/{{ids}}" method="post"> 

<!-- Displays input boxes -->
<label for="uid">UID:</label>
<input type="text" id="uid" name="uid" placeholder="UID" value="{{ids}}"> </br>
  
<label for="firstname">First Name:</label>
<input type="text" id="firstname" name="fname" placeholder="firstname" value = "{{Fname}}"> </br>

<label for="lastname">Last Name:</label>
<input type="text" id="lastname" name="lname" placeholder="lastname" value={{Lname}}></br>

<label for="points">Points:</label>
<input type="text" id="points" name="points" placeholder="points" value={{Points}}>  </br></br>

<!-- Saves changes -->
<button type="submit" name="edit_button" value="Save">Save</button></br>

<!-- Deletes player -->
<p> Warning - deleting a player cannot be undone!</p>
<button type="submit" name="edit_button" value="Delete">Delete</button></br>
</form> 
 {% endblock %}